/GoLLIE
/Qwen-Agent
/knowledge_graph
/finetune
/KG_Construct
/data
**/log.*
**/app.log
electronic/pdfs
electronic/txt
electronic/shell
electronic/test
electronic/llama_index/electronic_emb
electronic/llama_index/electronic_name_emb
electronic/llama_index/*.jsonl
electronic/llama_index/doc_emb
electronic/llama_index/*_emb
electronic/app.log
electronic/log.1
zlib_process/book
zlib_process/epub
zlib_process/book200
zlib_process/output
zlib_process/output1
work/**/*.csv
work/yyx/bert-finetuned-A1
*.logs
*.csv
*.txt
*.html