.appendix-title {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: inline;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    width: 100%
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre4 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre5 {
    display: block
    }
.calibre6 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre7 {
    font-weight: bold
    }
.calibre8 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 20pt
    }
.calibre9 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.center {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.center1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.center2 {
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    margin-bottom: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.chapter-number {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0
    }
.copyright {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.copyright-space {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.copyright-title {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0
    }
.dedication {
    display: block;
    margin-bottom: 0;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 15%;
    text-align: center;
    text-indent: 0
    }
.discoverpage {
    display: block;
    margin-top: 2em
    }
.frontmatter-rw {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    text-align: center
    }
.galley-rw {
    display: block;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    widows: 1;
    word-spacing: 0
    }
.gray {
    color: #a8a9ad
    }
.img {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    padding-top: 0.2em;
    text-align: center;
    text-indent: 0
    }
.landingpagelink {
    text-decoration: none
    }
.lbt {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: left;
    text-indent: 0
    }
.lbt1 {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: left;
    text-indent: 0
    }
.lbt2 {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: left;
    text-indent: 0
    }
.noindent {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.pc {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
    text-align: center;
    text-indent: 0
    }
.publisherlogo {
    display: block;
    margin-top: 4em;
    text-align: center
    }
.publisherlogoimg {
    height: auto;
    width: auto
    }
.small-caps {
    font-size: 0.75em
    }
.space-break {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-indent: 0
    }
.toc-chapter {
    display: block;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 16pt;
    text-align: left;
    text-indent: 0
    }
.toc-chapter1a {
    display: block;
    margin-bottom: 6pt;
    margin-left: 0.5em;
    margin-right: 0;
    margin-top: 16pt;
    text-align: left;
    text-indent: 0
    }
.toc-chapteri {
    display: block;
    margin-bottom: 6pt;
    margin-left: 0.5em;
    margin-right: 0;
    margin-top: 6pt;
    text-align: left;
    text-indent: 0
    }
.toc-front {
    display: block;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    text-align: left;
    text-indent: 0
    }
.toc-title {
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0
    }
.width {
    display: block;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    page-break-inside: avoid;
    width: 89%
    }
